* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Mulish', sans-serif;
}
img {
    max-width: 100%;
}
header {
    background-color: white;
}
main {
    max-width: 100%;
}

/* Footer mobil */
footer { 
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #F8F8F8;
}
address {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 25px;
}
.some {
    padding-top: 25px;
    height: 75px;
}

/* Forside mobil */
/* Header */
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 10px;
}
.brand {
    display: flex;
    align-items: center;
}
.h2header {
    margin-left: 10px;
}
header a {
    text-decoration: none;
    color: black;
    padding: 10px;
}
.logo {
    height: 50px;
}
header ul {
    display: none;
}
.toggleShow {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 0;
    background-color:white;
    width: 100%;
    list-style-type: none;
    padding: 0;
}    
.toggleShow li,
.toggleShow a {
    padding: 15px;
}
h1 {
    font-size: 20px;
    color: black;
    text-align: center;
    text-transform: uppercase;
}
.h2header {
    font-size: 10px;
    font-style: italic;
}
/* Main */
.forsidebillede {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/index\ baggrund.png);
    background-size: cover;
    height: 500px;
    padding: 30px;
}
.forsidebillede h2 {
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    margin-top: auto;
    margin-bottom: 30px;
}
.forsidebillede h3 {
    color: white;
    font-size: 13px;
    display: inline-block;
    margin-bottom: auto;
    font-weight: lighter;
}
.forsidebillede .tilbud {
    margin-top: auto;
    width: 65%;
}
.forsidebillede a {
    text-decoration: none;
    margin: 10px;
    padding: 15px;
    color: white;
    font-size: 15px;
    border-style: solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
video {
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 360px;
    height: 220px;
}
.sloganbillede {
    position: relative;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.slogan {
    position: absolute;
    font-size: 25px;
    margin-left: 30px;
    left: 28px;
    top: 136.5%;
}
.team {
    margin-top: 50px;
    margin-bottom: 50px;
}
.h2team {
    margin-bottom: 40px;
    text-align: center;
    font-weight: lighter;
}
.pteam1, .pteam2, .pteam3 {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 35px;
    line-height: 30px;
    font-size: 14px;
}
.ghost {
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
.kunder1 {
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 20px;
    font-weight: lighter;
}
.kunder2 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    font-weight: lighter;
}
.kundelogo {
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    height: 170px;
}
.footertekst {
    margin-left: 130px;
    line-height: 25px;
}

/* Branding side mobil */
/* Header */
header {
    background-color: white;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 10px;
}
header a {
    text-decoration: none;
    color: black;
    padding: 10px;
}
/* Main */
.forsidebilledeProdukt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/produkt\ baggrund.png);
    background-size: cover;
    height: 500px;
    padding: 30px;
}
.h2branding {
    position: absolute;
    color: white;
    display: inline-block;
    text-align: center;
    top: 300px;
    font-size: 40px;
}
.h2branding2 {
    margin-top: 70px;
    font-size: 20px;
    text-align: center;
}
.pbranding1, .pbranding2, .pbranding3, .pbranding4 {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}
.h2cases {
    margin-top: 100px;
    margin-left: 50px;
    font-weight: lighter;
}
.casesimg {
    height: 300px;
    margin-top: 30px;
    margin-left: 60px;
}
.callusbillede {
    height: 200px;
    margin-top: 130px;
    position: relative;
}
.callusspan1 {
    margin-left: 95px;
    font-size: 15px;
    color: white;
    position: absolute;
    top: 2450px;
    left: 1px;
}
.callusspan2 {
    margin-left: 55px;
    font-size: 35px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 2500px;
    left: 1px;
}

/* Kontakt side mobil */
/* Header */
header {
    background-color: white;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 10px;
}
header a {
    text-decoration: none;
    color: black;
    padding: 10px;
}
/* Main */
.forsidebilledeKontakt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/kontakt\ baggrund.png);
    background-size: cover;
    height: 500px;
    padding: 30px;
}
.h2kontakt {
    position: absolute;
    color: white;
    display: inline-block;
    text-align: center;
    top: 330px;
    font-size: 40px;
}
.telefonboks {
    background-color: #FFC9FE;
    width: 170px;
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    margin-left: 95px;
    float: left;
}
.telefonikon {
    height: 120px;
    padding: 20px;
}
.telefonp1 {
    padding-top: 40px;
    font-size: 18px;
}
.telefonp2 {
    padding-top: 20px;
    font-size: 12px;
}
.mailboks {
    background-color: #DFFFE3;
    width: 170px;
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    float: left;
    margin-left: 95px;
}
.mailikon {
    height: 100px;
    padding: 20px;
}
.mailp1 {
    padding-top: 55px;
    font-size: 18px;
}
.mailp2 {
    padding-top: 38px;
    font-size: 12px;
}
.bygningboks {
    background-color: #FFFFA8;
    width: 170px;
    margin-top: 30px;
    text-align: center;
    padding: 20px;
    float: left;
    margin-left: 95px;
}
.bygningikon {
    height: 120px;
    padding: 20px;
}
.bygningp1 {
    padding-top: 30px;
    font-size: 18px;
}
.bygningp2 {
    padding-top: 20px;
    font-size: 12px;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 20px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}
.pformular {
    font-size: 15px;
    padding-bottom: 15px;
}
input[type=submit] {
    background-color: #FFC9FE;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    width: 120px;
}
input[type=blivringetop]:hover {
    background-color: #FFC9FE;
}
.container {
    border-radius: 5px;
    background-color: #f8f8f8;
    padding: 30px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 100px;
    margin-top: 280%;
}

@media screen and (min-width: 740px) {
    .logo {
        height: 70px;
    }
    .fa-bars {
        display: none;
    }
    .mainnav {
        display: flex;
        padding: 10px;
        list-style-type: none;
    }
    .forsidebillede, .forsidebilledeKontakt, .forsidebilledeProdukt {
        height: 570px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .forsidebillede h2 {
        font-size: 40px;
    }
    .forsidebillede h3 {
        font-size: 25px;
    }
    .forsidebillede a {
        font-size: 25px;
    }
    .forsidebillede .tilbud {
        width: 85%;
        padding: 30px;
        display: flex;
        flex-direction: row;
    }
    .tilbud a {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    video {
        width: 720px;
        height: 440px;
        margin-top: 100px;
    }
    .sloganbillede {
        height: 250px;
        width: 100%;
        margin-top: 100px;
    }
    .slogan {
        font-size: 40px;
        margin-left: 500px;
        left: 25px;
        top: 201%;
    }
    .team {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .h2team {
        font-size: 40px;
        margin-bottom: 60px;
    }
    .pteam1, .pteam2, .pteam3 {
        margin-bottom: 35px;
        line-height: 50px;
        font-size: 20px;
    }
    .ghost {
        height: 50px;
        margin-left: 350px;
    }
    .kunder1 {
        font-size: 20px;
        margin-bottom: 10px;
        margin-left: 350px;
    }
    .kunder2 {
        font-size: 35px;
        margin-bottom: 50px;
        margin-left: 350px;
    }
    .kundelogo {
        margin-bottom: 150px;
        margin-left: 350px;
        height: 400px;
    }
    .h2branding {
        top: 500px;
        left: 130px;
        font-size: 80px;
    }
    .h2branding2 {
        margin-top: 150px;
        margin-bottom: 80px;
        font-size: 40px;
    }
    .pbranding1, .pbranding2, .pbranding3, .pbranding4 {
        margin-top: 30px;
        text-align: center;
        margin-left: 200px;
        margin-right: 200px;
        line-height: 40px;
        font-size: 15px;
    }
    .h2cases {
        margin-top: 200px;
        margin-left: 70px;
    }
    .casesimg {
        height: 420px;
        margin-top: 30px;
        margin-left: 70px;
        margin-right: 70px;
    }
    .callusbillede {
        height: 250px;
        width: 100%;
        margin-top: 250px;
    }
    .callusspan1 {
        margin-left: 600px;
        font-size: 20px;
        top: 315%;
    }
    .callusspan2 {
        margin-left: 500px;
        font-size: 60px;
        top: 323%;
    }
    .h2kontakt {
        top: 500px;
        left: 130px;
        font-size: 80px;
    }
    .telefonboks {
        width: 300px;
        height: 550px;
        margin-top: 100px;
        text-align: center;
        padding: 20px;
        margin-left: 165px;
        float: left;
    }
    .telefonikon {
        height: 200px;
        padding: 20px;
    }
    .telefonp1 {
        padding-top: 60px;
        font-size: 30px;
    }
    .telefonp2 {
        padding-top: 70px;
        font-size: 20px;
    }
    .mailboks {
        width: 300px;
        height: 550px;
        margin-top: 100px;
        text-align: center;
        padding: 20px;
        margin-left: 100px;
        float: left;
    }
    .mailikon {
        height: 200px;
        padding: 20px;
    }
    .mailp1 {
        padding-top: 60px;
        font-size: 30px;
    }
    .mailp2 {
        padding-top: 90px;
        font-size: 20px;
    }
    .bygningboks {
        width: 300px;
        height: 550px;
        margin-top: 100px;
        text-align: center;
        padding: 20px;
        margin-left: 100px;
        float: left;
    }
    .bygningikon {
        height: 200px;
        padding: 20px;
    }
    .bygningp1 {
        padding-top: 62px;
        font-size: 30px;
    }
    .bygningp2 {
        padding-top: 30px;
        font-size: 20px;
    }
    .pformular {
        font-size: 22px;
        padding-bottom: 15px; 
        text-align: center;
    }
    .container {
        padding: 30px;
        margin-right: 150px;
        margin-left: 150px;
        margin-bottom: 150px;
        margin-top: 750px;
    }
    address {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}